<table class='table table-striped'>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td>
          <%= user.genres.map(&:title).join(" | ") %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>