<h1>Users</h1>
<div class="row">
  <div class="col-lg-10">
    <table class='table table-striped'>
      <thead>
        <tr>
          <th>Email</th>
          <th colspan="">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |genre| %>
          <tr>
            <td><%= genre.email %></td>
            <td>
              Comming soon......
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>